.cardContainer{
    width: 20%;
    /* height: 20vh; */
    padding: 1em;
    margin-top: 12%;
    margin-left: 12%;
    color: white;
    left: 20%;

    background: linear-gradient(#0a0a23, #0a0a23) padding-box,
    linear-gradient(356deg, #ff93ac, #fc3468, #ff6289) border-box;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;

}

/* .cardContainer::before{
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #fff;
    z-index: -1;
}

.cardContainer::after{
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #fff;
    z-index: -2;
    filter: blur(3px);
}

.cardContainer::before,
.cardContainer::after{
    background: linear-gradient(356deg, #ff93ac, #fc3468, #ff6289);

} */

.subContainer{

}